<div class="friendChannel" id="friendChannel">
    <div class="top" id="top">
    </div>

    <div class="chat" id="chat">

    </div>
    <div class="msgsend" id="msgsend">
        
    </div>
</div>