<div class="leftList">
    <div class="insideList">
        <div class="topPart">
            <h3>Welcome <%= user.username %></h3>
        </div>

        <div class="addFriend">
            <form action="/friend-request" method="post">
                <input type="text" name="friendUsername" placeholder="Entrer username to add">
                <button type="submit">Send Invitation</button>
            </form>
        </div>

        <div class="listFriendsDMs">
            <p>r</p>
        </div>

        <div class="settings">
            
        </div>
    </div>
</div>