<div class="leftList">
    <div class="insideList">
        <div class="topPart">
            <h3>Welcome <%= user.username %>
            </h3>
        </div>

        <div class="addFriend">
            <form class="addFriendForm" id="addFriendForm" method="post" action="/friends/requests/send">
                <p id="labelFriendInp"></p>
                <input id="usernameInp" type="text" name="friendUsername" placeholder="Entrer username to add">
                <div class="buttons">
                    <button type="submit">Send Invitation</button>
                    <button id="requestsBTN" class="requestsBTN" type="button">Requests</button>
                </div>
            </form>
        </div>

        <div class="listFriendsDMs" id="listFriendsDMs">
            <p></p>
        </div>

        <div id="settings" class="settings" data-id="<%= user.id %>" data-username="<%= user.username %>">
            <button>Settings</button>
            <div class="logout">
                <a href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</div>