<div class="settingsContainer" id="settingsContainer">
    <div class="containerSetting">
        <div class="topsection"></div>
        <div class="leftOptions">
            <div class="item accountS">
                <h4>Account</h4>
            </div>
        </div>
        <div class="settingsPart">

        </div>
    </div>
</div>