<div class="settingsContainer" id="settingsContainer">
    <div class="containerSetting">
        <div class="topsection">
            <span class="material-symbols-outlined close closeSettings" data-id="${friend.request_id}">close</span>
        </div>
        <div class="set">
            <div class="leftOptions">
                <div class="item accountS">
                    Account
                </div>
                <div class="item apperance">
                    Apperance
                </div>
            </div>
            <div class="settingsPart">
                <%- include("../settings/options") %>
            </div>
        </div>
    </div>
</div>