<div class="settingsContainer" id="settingsContainer">
    <div class="containerSetting">
        <div class="topsection">
            <span class="material-symbols-outlined close closeSettings" data-id="${friend.request_id}">close</span>
        </div>
        <div class="set">
            <div class="leftOptions">
                <div class="item accountS">
                    <h4>Account</h4>
                </div>
                <div class="item accountS">
                    <h4>Apperance</h4>
                </div>
            </div>
            <div class="settingsPart">
                <button id="themeChangeBTN" onclick="toggleTheme()">Change theme</button>
            </div>
        </div>
    </div>
</div>