<nav class="Topbar">
    <div class="icon">
        <a href="/">
            <img src="../icon.png" alt="">
        </a>
    </div>
    <div class="connection">
        <a class="a" href="/about-us">About US</a>
        <a class="a" href="/auth/register">Register</a>
        <a class="a" href="/auth/login">Login</a>
    </div>
</nav>