<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="userPage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <% if (!user) { %>
        <nav class="Topbar">
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
        </nav>
    <% } else { %>
        <div class="window">
            <%- include("includes/leftList", {user})%>
            <%- include("includes/friendsList") %>
            <%- include("includes/channelpage") %>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = new io()

            socket.on("connect", (s) => console.log("Connected to server : ", socket.id))
            
        </script>
    <% } %>
</body>

<script src="main.js"></script>
</html>