.window {
    height: 100vh;
    width: 100%;
    display: flex;
}

.window .leftList {
    background-color: rgb(157, 157, 157);
    height: 100%;
    width: 16%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.leftList .insideList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftList .addFriend form input {
    width: 100%;
}

.leftList .addFriend form .labelFriendInp {
    padding-bottom: 15px;
}

.leftList .listFriendsDMs {
    height: 75vh;
    background-color: red;
    overflow-y: scroll;
}

.leftList .settings {
    height: 5vh;
    background-color: gray;
}

.window .friendsReqList {
    background-color: rgb(157, 157, 157);
    height: 100%;
    width: 16%;

    display: none;
    opacity: 1;
    transition: all 1s ease;
}

.friendsReqList .listFriends {
    padding: 50px 35px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.friendsReqList .listFriends .friendtemplate {
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    height: max-content;
}

.material-symbols-outlined {
    cursor: pointer;
}

.material-symbols-outlined.close {
    color: red;
}

.material-symbols-outlined.check {
    color: rgb(0, 212, 0);
}


.friendItem button {
    width: 100%;
    height: 4vh;
    background-color: rgb(61, 0, 0);
    color: white;
    cursor: pointer;
}

.friendChannel {
    background-color: grey;
    display: flex;
    flex-direction: column;

    width: 82.5%;
}

.friendChannel .top {
    height: 8%;
    background-color: rgb(133, 133, 133);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendChannel .chat {
    height: 84%;
    background-color: rgb(255, 255, 255);
}

.friendChannel .msgsend {
    height: 8%;
    background-color: rgb(184, 184, 184);
}