.window {
    height: 100vh;
    width: 100%;
    display: flex;
}

.window[data-theme=dark] {
    --sidebars-backgroundc: #0F172A;
    --center-backgroundc: #151515;
    --hover-sidebars-backgroundc: #080d18;
    --text-color: white;
    --friends-list-backgroundc: #1E293B;
    --friend-box-backgroundc: #1E293B;

    --reciever-notr-backgroundc: #2154a8;
    --sender-notr-backgroundc: #4c71ad;

    --reciever-r-backgroundc: #0642a3;
    --sender-r-backgroundc: #0056e0;

    --bottom-text-color: rgb(199, 199, 199);

    --chat-backgroundc: rgb(24, 24, 24);
}

.window[data-theme=light] {
    --sidebars-backgroundc: #ebebeb;
    --center-backgroundc: #dfdfdf;
    --hover-sidebars-backgroundc: #fafafa;
    --text-color: rgb(23, 23, 23);
    --friends-list-backgroundc: #bbbdc0;
    --friend-box-backgroundc: #a7a9ad;

    --reciever-notr-backgroundc: #9279ff;
    --sender-notr-backgroundc: #ab98ff;

    --reciever-r-backgroundc: #b4afd9;
    --sender-r-backgroundc: #cbc8ff;

    --bottom-text-color: rgb(239, 239, 239);

    --chat-backgroundc: rgb(242, 242, 242);
}

.window .leftList {
    background-color: var(--sidebars-backgroundc);
    height: 100%;
    width: 16%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.leftList .insideList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftList .insideList .topPart {
    text-align: center;
    color: var(--text-color);
}

.leftList .addFriend {
    display: flex;
    height: 7vh;
}

.leftList .addFriend form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.leftList .addFriend form .labelFriendInp {
    padding-bottom: 15px;
}

.leftList .addFriend form .buttons {
    display: flex;
    width: 100%;
    height: 50%;
}

.leftList .addFriend form button {
    width: 100%;
    background-color: #4F46E5;
    color: var(--text-color);
    border: 2px solid #1d4585;
}

.leftList .addFriend form input {
    height: 50%;
    background-color: transparent;
    color: var(--text-color);
    border: 0.5px solid white;
    padding-left: 10px;
}

.window .friendsReqList {
    background-color: var(--friends-list-backgroundc);
    height: 100%;
    width: 15%;

    display: none;
    opacity: 1;
    transition: all 1s ease;
}

.friendsReqList .listFriends {
    padding: 50px 35px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--text-color);
}

.friendsReqList .listFriends .friendtemplate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color);
    height: max-content;
}

.leftList .listFriendsDMs {
    height: 75vh;
    background-color: var(--friends-list-backgroundc);
    overflow-y: auto;
}

.friendItem {
    background-color: var(--friend-box-backgroundc);
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
}

.friendItem:hover {
    background-color: rgb(131, 131, 131);
    transition: background-color 0.5s ease;
}

.friendItem button {
    width: 80%;
    height: 4vh;
    border: 0;
    color: var(--text-color);
    cursor: pointer;
    background-color: transparent;
}


.friendItem .presence {
    height: 12.5px;
    width: 12.5px;
    border-radius: 25px;
}

.friendItem .presence.red {
    background-color: #94A3B8;
}

.friendItem .presence.green {
    background-color: #10B981;
}

.friendChannel {
    background-color: var(--center-backgroundc);
    display: flex;
    flex-direction: column;

    width: 82.5%;
}

.friendChannel .top.load {
    height: 8%;
    background-color: var(--sidebars-backgroundc);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendChannel .chat.load {
    height: 82%;
    background-color: var(--chat-backgroundc);
}

.friendChannel .msgsend.load {
    background-color: #ebebeb;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.friendChannel .msgsend.load .formsend {
    background-color: var(--sidebars-backgroundc);
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friendChannel .msgsend.load .writingDiv {
    width: 95%;
    text-align: end;
}

.friendChannel .msgsend.load .formsend .messagesend {
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
}

.friendChannel .msgsend.load .messagesend input {
    height: 60%;
    width: 65%;
}

.friendChannel .msgsend.load .messagesend button {
    background-color: transparent;
    color: var(--text-color);
    border: 0;
}

.leftList .settings button {
    width: 60%;
    height: 100%;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(88, 88, 88);
    font-size: 15px;
}

.leftList .settings {
    display: flex;
    height: 5vh;
    background-color: gray;
}

.leftList .settings .logout {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
}

.leftList .settings .logout a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

.material-symbols-outlined {
    cursor: pointer;
}

.material-symbols-outlined.close {
    color: red;
}

.material-symbols-outlined.check {
    color: rgb(0, 212, 0);
}

/* Channel page css */

.chat.load {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #0F172A;
}

.friendChannel .messagebubble.right {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.friendChannel .messageContainer {
    border-radius: 10px;
    padding: 2.5px 5px;
    min-width: 150px;
    max-width: max-content;
}

.friendChannel .messagebubble.right .messageContainer {
    background-color: var(--sender-notr-backgroundc);
}

.friendChannel .messagebubble.left .messageContainer {
    background-color: var(--reciever-notr-backgroundc);
    color: var(--text-color);
}

.friendChannel .messagebubble.left.seen .messageContainer {
    background-color: var(--reciever-r-backgroundc);
    color: var(--text-color);
}

.friendChannel .messagebubble.right.seen .messageContainer {
    background-color: var(--sender-r-backgroundc);
    color: var(--text-color);
}

.friendChannel .messagebubble.right .messageContainer,
.friendChannel .messagebubble.right .msgContent p {
    color: var(--text-color);
}

.friendChannel .messagebubble.left .messageContainer p,
.friendChannel .messagebubble.left .msgContent p {
    color: var(--text-color);
}

.friendChannel .messagebubble.left .msgUser p,
.friendChannel .messagebubble.right .msgUser p,
.friendChannel .messagebubble.left .msgTIME p,
.friendChannel .messagebubble.right .msgTIME p {
    font-size: 12.5px;
}

.friendChannel .messagebubble.left .msgTIME p,
.friendChannel .messagebubble.right .msgTIME p {
    color: var(--bottom-text-color);
}