<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/guest.css">
</head>

<body>
    <%- include("../includes/topbar") %>

        <div class="center_container">
            <div class="container">
                <div class="topcontainer">
                    <h3>LOGIN</h3>
                </div>
                <div class="formcontainer">
                    <form method="post" action="/auth/login">
                        <div class="formElements">
                            <% if (locals.error !=undefined) {%>
                                <p id="error_p">
                                    <%= error %>
                                </p>
                                <% } %>
                                    <input type="text" name="user_email" placeholder="Email/Username">
                                    <div class="pwdC">
                                        <div class="pwdplace">
                                            <input type="password" id="pwd" name="pwd" placeholder="Password"
                                                maxlength="20">
                                            <div class="outlinedc">
                                                <span class="material-symbols-outlined outlined"
                                                    id="eye">visibility_off</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit">LOGIN</button>
                                    <div class="secondarybtns">
                                        <a id="registerBTN" href="/auth/register">Register</a>
                                        <a id="forgotpass" href="/auth/forgot-password">Forgot-Password?</a>
                                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="../js/login.js"></script>
</body>

</html>