<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="../icon.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../guest.css">
</head>

<body>
    <%- include("../includes/topbar") %>

        <div class="center_container">
            <div class="container">
                <div class="topcontainer">
                    <h3>REGISTER</h3>
                </div>
                <div class="formcontainer">
                    <form method="post" action="/auth/register">
                        <div class="formElements">
                            <% if (locals.error) {%>
                                <p id="error_p">
                                    <%= locals.error ? locals.error : "" %>
                                </p>
                                <% } %>
                                    <input type="text" name="display_name" id="display_name" placeholder="Display name"
                                        maxlength="20">

                                    <label for="username" id="CheckingUsername"></label>
                                    <input type="text" id="username" name="username" placeholder="Your Username"
                                        maxlength="20">

                                    <label for="email" id="CheckingEmail"></label>
                                    <input type="email" name="email" id="email" placeholder="Your Email">

                                    <label for="pwd" id="CheckingPWD"></label>
                                    <div class="pwdC">
                                        <div class="pwdplace">
                                            <input type="password" id="pwd" name="pwd" placeholder="Password"
                                                maxlength="20">
                                            <div class="outlinedc">
                                                <span class="material-symbols-outlined outlined"
                                                    id="eye">visibility_off</span>
                                            </div>
                                        </div>
                                        <div class="checkersPWD">
                                            <p class="requirement up">• 1 uppercase letter</p>
                                            <p class="requirement low">• 1 lowercase letter</p>
                                            <p class="requirement n">• 1 number</p>
                                            <p class="requirement sp">• 1 special character</p>
                                        </div>
                                    </div>

                                    <label for="passwordCheck" id="CheckingPassword"></label>
                                    <input type="password" id="passwordCheck" name="passwordCheck" maxlength="20"
                                        placeholder="Repeat your password">

                                    <button id="createBTN" type="submit" disabled>CREATE AN ACCOUNT</button>
                                    <div class="secondarybtns reg">
                                        <a id="loginbtn" href="/auth/login">Login</a>
                                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="../js/register.js"></script>
</body>

</html>